@model Project.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CrRh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CrRh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrSeudonimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrSeudonimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtContrasena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtContrasena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntCedula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
