@model Project.Models.Conductor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conductor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombreConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombreConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrLicenciaConduccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrLicenciaConduccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrObservaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrObservaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTipoSancion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTipoSancion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaInicioSancion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaInicioSancion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaFinalSancion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaFinalSancion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDiasSancion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDiasSancion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StrIdentificacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
