@model Project.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTipoVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTipoVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltPesoMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltPesoMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltTolerancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltTolerancia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltEjeSencillo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltEjeSencillo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltEjeTandem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltEjeTandem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltEjeTridem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltEjeTridem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntTotalEjes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntTotalEjes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdCategoria">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
