@model Project.Models.Origen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Origen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoRfid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoRfid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrObservaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrObservaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StrIdOrigen">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
