@model Project.Models.VehiculoEnTransito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehiculoEnTransito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdParque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdParque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTransporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTransporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTicket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrVagon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrVagon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCombustible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCombustible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTipoMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTipoMovimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrParvaAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrParvaAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaFinParva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaFinParva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaInicioParva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaInicioParva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrMuestras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrMuestras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNroBolsa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNroBolsa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoPartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrConsecutivoVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrConsecutivoVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntPesoEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntPesoEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntPesoSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntPesoSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntPesoNeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntPesoNeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUnidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUnidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TxtRutaFotos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TxtRutaFotos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrRfid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrRfid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitProcesoManual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitProcesoManual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitVehiculoDevuelto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitVehiculoDevuelto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrIdDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrIdDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrIdOrigen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrIdOrigen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntIdPorDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntIdPorDia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdEntrada">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
