@model Project.Models.Proveedor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPoblacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPoblacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCodigoProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCodigoProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntTopeMensual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntTopeMensual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntAcumulado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntAcumulado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrObservaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrObservaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntTopeOpcional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntTopeOpcional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntTopeAdicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntTopeAdicional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntTopeSpot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntTopeSpot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntTopeOtros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntTopeOtros)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StrCif">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
