@model Project.Models.Mina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrLocalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrLocalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrObservaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrObservaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTicket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrIdTituloMinero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrIdTituloMinero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StrIdMina">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
