@model Project.Models.Muestra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Muestra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrPartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCamion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCamion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrObservaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrObservaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrRfid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrRfid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdMuestra">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
