@model Project.Models.Bascula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bascula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrRfid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrRfid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntCodigoPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntCodigoPartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntNumeroMuestra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntNumeroMuestra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntEstadoPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntEstadoPartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtFechaHoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtFechaHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltPesoBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltPesoBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FltPesoNeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FltPesoNeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTipoVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTipoVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrMssCodigoPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrMssCodigoPartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtMssFechaHoraTomaMuestra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtMssFechaHoraTomaMuestra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdProveedor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
