@model Project.Models.Sancion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sancion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitSancionConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitSancionConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitSancionVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitSancionVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTiempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTiempo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntNumero">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
