@model IEnumerable<Project.Models.Temporal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrPlaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrRfid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrTope)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntAcumulado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrEstado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrPlaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrRfid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrTope)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntAcumulado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrEstado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntIdTemporal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntIdTemporal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntIdTemporal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
