@model Project.Models.Contrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrIdParque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrIdParque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCentroProduccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCentroProduccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrCarburante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrCarburante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrTipoAgrupacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrTipoAgrupacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitPartidaMaestra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitPartidaMaestra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntTipoExistencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntTipoExistencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IntIdContrato">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
